{% extends 'base.html' %}
{% block navbar %}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/styles.css')}}">
<nav class="navbar border navbar-expand-sm  fixed-top bg-primary navbar-dark ">
  <div class="container">
    <!-- Brand -->
    <a class="navbar-brand" href="#">
      <img src="" alt="Image" style="width:10px;">
      
    </a>


<!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar" style="margin-left: 40%; list-style-type: none;">
      <h1> One Minute Pitch </h1>
      <ul style="list-style-type: none;">
      {% if current_user.is_authenticated %}
          
            <li class="nav-item" id="home" style="list-style-type: none;">
            <a class="nav-link" href="/" style="color: black;">Home</a>
            </li>
            <li class="nav-item" id="profile" style="list-style-type: none;">
                <a class="nav-link" href="{{url_for('main.profile',uname=current_user.username)}}" style="color: black;">Profile</a>
            </li>
            <li class="nav-item" id="sign-out" style="list-style-type: none;">
                <a class="nav-link" href="{{url_for('auth.logout')}}" style="color: black;">Sign out</a>
            </li>
            {% else %}
            <li class="nav-item" id="sign-in">
                <a class="nav-link" href="{{url_for('auth.login')}}"style="color: black; float: right; list-style-type: none;"> Login</a>
            </li>
  
            <li class="nav-item" id="sign-in">
                <a class="nav-link" href="{{url_for('auth.register')}}"style="color: black; float: right; list-style-type: none; padding-right: 15px;">Sign up</a>
            </li>
          </ul>
      {%endif%}
    </div>  
  </div>
</nav>

{% endblock %}


